{% extends 'base.html.twig' %}

{% block title %}Sign up
{% endblock %}

{% block body %}
	<div class="centered-div">
		<form method="post" action="{{ path('app_createuser') }}">
			<label for="username">Username:</label><br>
			<input type="text" id="inputUsername" name="username" required><br><br>
			<label for="password">Password:</label><br>
			<input type="password" id="inputPassword" name="password" required><br><br>
			<button type="submit">Sign up</button>
		</form>
	</div>
{% endblock %}
